@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding:0 ;
  font-family: 'Poppins';
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
  border:none;
  transition: all 0.2s;
}

:root{
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #744afd;
  --white-color:#fdfdfd;
  --shadow-color:rgba(0,0,0,.2);

}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background-color: var(--bg-color);
  color:var(--text-color) ;
}

.dark-mode{
  background-color: #0a0225;
  color: var(--white-color);

}


@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}